@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

:root
{
    font-size: 62.5%;
}

*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    /* flex-wrap: wrap; */
}

html
{
    box-sizing: border-box;
    background-color: #def9ff;
}

nav
{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #94dad2;
    height: 8rem;
    width: 100%;
    align-items: center;
    padding: 0% 1.7%;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.3rem solid #007c98;
    border-width: 0.35rem;
    border-radius: 2.5rem;
    width: 17rem;
    height: 6rem;
    background-color: #def9ff;
}

.logo img
{
    height: 7rem;
    cursor: pointer;
}

.signup img
{
    height: 4.5rem;
    cursor: pointer;
}

.signup a
{
    font-size: 3rem;
    text-decoration: none;
    color: black;
}

.container1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 2px solid black; */
    flex-direction: column;
    background-color: #def9ff
}

.box1
{
    display: flex;
    height: 23rem;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

.options 
{
    display: flex;
    background-color: #def9ff;
    /* border: 2px solid black; */
    height: 4rem;
    width: 49rem;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#op1, #op2, #op3, #op4
{
    display: flex;
    height: 3.5rem;
    font-size: 1.5rem;
    width: 10.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    text-decoration: none;
    margin: 0% 1%;
}

#op1
{
    background-color: #daf3f8;
    border: 0.5vh solid #00d2ff;
    color: #36d9fc;
    font-weight: bold;
}

#op2
{
    background-color: #00bdf4;
    border: 0.5vh solid #00bdf4;
    color: white;
}

#op3
{
    background-color: #0598c3;
    border: 0.5vh solid #0598c3;
    color: white;
}

#op4
{
    background-color: #007c98;
    border: 0.5vh solid #007c98;
    color: white;
}

.search_box
{
    display: flex;
    background-color: #def9ff;
    height: 7vh;
    width: 54vw;
    justify-content: space-around;
    align-content: center;
    margin-top: 4.2%;
}

.search
{
    display: flex;
    background-color: #def9ff;
    height: 6vh;
    width: 50vw;
    border: 0.6vh solid #00d2ff;
    border-radius: 4vh;
    font-family: 'Tilt Neon', cursive;
    font-size: 1.5rem;
    padding-left: 1.5%;
}

.search_inside
{
    background-color: #007c98;
    color: white;
    height: 5.5vh;
    width: 6vw;
    border-radius: 2rem;
    font-family: 'Tilt Neon', cursive;
    font-size: 1.5rem;
    border-style: hidden;
    cursor: pointer;
    border: 0.2rem solid #00d2ff;
}

.container img
{
    height: 7vh;
    width: 3vw;
}

.box2 ul
{
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(0, 26, 255); */
}

.box2 ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner_2
{
    height: 50rem;
    width: 100%;
    list-style:none;
    z-index: 8;
    position: absolute;
}

.box3
{
    display: flex;
    height: 35vh;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
    line-height: 7vh;
}

.box3 h2
{
    font-family: 'Playfair Display', serif;
    font-size: 3.0rem;
    color: #346792;
    font-weight: 900;
}

.box3 p
{
    font-family: 'Shantell Sans', cursive;
    font-size: 2rem;
    color: #60c5b5;
    font-weight: 900;
}

.our_services
{
    display: flex;
    background-color: #def9ff;
    /* border: 2px solid black; */
    height: 13vh;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

#os_1
{
    display: flex;
    height: 10vh;
    width: 17vw;
    background-color: #daf3f8;
    border: 0.7vh solid #00d2ff;
    border-radius: 5vh;
    text-decoration: none;
    color: #36d9fc;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
}

#os_2
{
    display: flex;
    height: 10vh;
    width: 17vw;
    background-color: #00bdf4;
    border: 0.7vh solid #00bdf4;
    border-radius: 5vh;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

#os_3
{
    display: flex;
    height: 10vh;
    width: 17vw;
    background-color: #0598c3;
    border: 0.7vh solid #0598c3;
    border-radius: 5vh;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

#os_4
{
    display: flex;
    height: 10vh;
    width:17vw;
    background-color: #007c98;
    border: 0.7vh solid #007c98;
    border-radius: 5vh;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.box5
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box5 img
{
    margin: 5% 0%;
    width: auto;
    height: 54vh;
}

.box6
{
    display: flex;
    height: 30vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid rgb(0, 26, 255); */
    gap: 2rem 0rem;
}

.box6 h2
{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #346792;
    font-weight: 900;
}

.box6 p
{
    font-size: 2rem;
    width: 60vw;
}

.get_started
{
    display: flex;
    background-color: #007c98;
    color: white;
    height: 6.5vh;
    width: 19.5vw;
    border-radius: 40vh;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    border-style: hidden;
    cursor: pointer;
}

.box7
{
    display: flex;
    height: 65vh;
    width: 100%;
    padding: 3.5% 0%;
    align-items: center;
    /* border: 2px solid rgb(0, 26, 255); */
    justify-content: space-around;
    flex-wrap: wrap;
}

.bx1
{
    display:flex;
    height: 57vh;
    width: 26vw;
    justify-content: center;
    gap: 2% 0%;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

#bx1
{
    background-color: #00deff;
    border-radius: 8.5vh;
    gap: 1rem 0rem;
}

.bx1 img
{
    height: 23vh;
    width: auto;
}

.bx1 h3
{
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: white;
}

.bx1 p
{
    font-family: 'Tilt Neon', cursive;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.bx2
{
    display: flex;
    height: 57vh;
    width: 26vw;
    justify-content: center;
    gap: 2% 0%;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

#bx2
{
    background-color: #04b4e6;
    border-radius: 8.5vh;
    gap: 1rem 0rem;
}

.bx2 img
{
    height: 23vh;
    width: auto;
}

.bx2 h3
{
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: white;
}

.bx2 p
{
    font-family: 'Tilt Neon', cursive;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.bx3
{
    display: flex;
    height: 57vh;
    width: 26vw;
    padding: 0px 0px;
    justify-content: center;
    gap: 2% 0%;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

#bx3
{
    background-color: #0283aa;
    border-radius: 8.5vh;
    gap: 1rem 0rem;
}

.bx3 img
{
    height: 23vh;
    width: auto;
}

.bx3 h3
{
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: white;
}

.bx3 p
{
    font-family: 'Tilt Neon', cursive;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.box8
{
    display: flex;
    height: 15vh;
    width: 25.8rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
    line-height: 7vh;
    margin: 2% 0%;
}

.box8 h2
{
    font-family: 'Playfair Display', serif;
    font-size: 3.4rem;
    color: #346792;
    font-weight: 900;
}

.box8 p
{
    font-family: 'Shantell Sans', cursive;
    font-size: 1.8rem;
    color: #60c5b5;
    font-weight: 900;
}


.box9
{
    display: flex;
    height: 38vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid rgb(0, 26, 255); */
}

.box9_left
{
    display: flex;
    flex-direction: column;
    width: 48%;
    align-items: center;
}

.emp_a 
{
    background-color: #007c98;
    color: white;
    height: 7.5vh;
    width: 28.5vw;
    border-radius: 41vh;
    font-family: 'Playfair Display', serif;
    font-size: 1.7rem;
    padding-top: 0.4%;
    text-align: center;
    border-style: hidden;
    cursor: pointer;
}

.box9_right
{
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 3rem 0rem;
}

#box9_left_img
{
    height: 55vh;
    width: auto;
}

.contact_area_1
{
    display: flex;
    height: 10vh;
    width: 40vw;
}

.contact_area_2
{
    display: flex;
    height: 10vh;
    width: 40vw;
}

.contact_area_3
{
    display: flex;
    height: 10vh;
    width: 40vw;
}

.ca_content_1
{
    display: flex;
    height: 19.5vh;
    width: 50vw;
    flex-direction: column;
    align-items: center;
}

.ca_content_1 h3
{
    font-size: 2.7rem;
}

.ca_content_1 p
{
    font-size: 1.5rem;
    width: 30vw;
}

.ca_pic_1_l1
{
    height: 8vh;
    width: auto;
    position: absolute;
    /* padding: 0% 1.5%; */
}
.ca_content_2
{
    display: flex;
    height: 19.5vh;
    width: 50vw;
    flex-direction: column;
    align-items: center;
}

.ca_content_2 h3
{
    font-size: 2.7rem;
}

.ca_content_2 p
{
    font-size: 1.5rem;
    width: 30vw;
}

#ca_pic_2_l1
{
    height: 8vh;
    width: auto;
    position: absolute;
    /* padding: 0% 1.5%; */
}

.ca_content_3
{
    display: flex;
    height: 19.5vh;
    width: 50vw;
    flex-direction: column;
    align-items: center;
}

.ca_content_3 h3
{
    font-size: 2.7rem;
}

.ca_content_3 p
{
    font-size: 1.5rem;
    width: 30vw;
}

#ca_pic_3_l1
{
    height: 8vh;
    width: auto;
    position: absolute;
    /* padding: 0% 1.5%; */
}

.box10
{
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: space-around;
    margin: 9% 0%;
    align-items: center;
    /* border: 2px solid rgb(0, 26, 255); */
}

.profile_1
{
    display: flex;
    height: 82vh;
    width: 20vw;
    background-color: #cee5eb;
    border-radius: 90% / 45%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile_1 img
{
    height: 35vh;
    width:  18vw;
    margin: 1.8rem 0rem 0rem 0rem;
}

.profile_1 h3
{
    font-size: 2rem;
    margin: 4rem 0rem 0rem 0rem;
}

.profile_1 p 
{
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0rem 0rem 0rem;
}

.rd_more_1
{
    margin: 7rem 0rem 0rem 0rem;
    background-color: #007c98;
    color: white;
    height: 7.5vh;
    width: 16.5vw;
    border-radius: 4vh;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    text-align: center;
    border-style: hidden;
    cursor: pointer;
    float: right;
}

.profile_2
{
    display: flex;
    height: 82vh;
    width: 20vw;
    background-color: #cee5eb;
    border-radius: 90% / 45%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile_2 img
{
    height: 35vh;
    width:  18vw;
    margin: 1.8rem 0rem 0rem 0rem;
}

.profile_2 h3
{
    font-size: 2rem;
    margin: 4rem 0rem 0rem 0rem;
}

.profile_2 p 
{
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0rem 0rem 0rem;
}

.rd_more_2
{
    margin: 7rem 0rem 0rem 0rem;
    background-color: #007c98;
    color: white;
    height: 7.5vh;
    width: 16.5vw;
    border-radius: 4vh;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    text-align: center;
    border-style: hidden;
    cursor: pointer;
    float: right;
}

.profile_3
{
    display: flex;
    height: 82vh;
    width: 20vw;
    border-radius: 90% / 45%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to right, #23dbf5, #1cd9f9, #1b9ed6);
}

.profile_3 img
{
    height: 35vh;
    width:  18vw;
    margin: 1.8rem 0rem 0rem 0rem;
}

.profile_3 h3
{
    font-size: 2rem;
    margin: 4rem 0rem 0rem 0rem;
}

.profile_3 p 
{
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0rem 0rem 0rem;
}

.rd_more_3
{
    margin: 7rem 0rem 0rem 0rem;
    background-color: #007c98;
    color: white;
    height: 7.5vh;
    width: 16.5vw;
    border-radius: 4vh;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    text-align: center;
    border-style: hidden;
    cursor: pointer;
    float: right;
}

.profile_4
{
    display: flex;
    height: 82vh;
    width: 20vw;
    background-color: #cee5eb;
    border-radius: 90% / 45%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile_4 img
{
    height: 35vh;
    width:  18vw;
    margin: 1.8rem 0rem 0rem 0rem;
}

.profile_4 h3
{
    font-size: 2rem;
    margin: 4rem 0rem 0rem 0rem;
}

.profile_4 p 
{
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0rem 0rem 0rem;
}

.rd_more_4
{
    margin: 7rem 0rem 0rem 0rem;
    background-color: #007c98;
    color: white;
    height: 7.5vh;
    width: 16.5vw;
    border-radius: 4vh;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    text-align: center;
    border-style: hidden;
    cursor: pointer;
    float: right;
}

.box11
{
    display: flex;
    height: 75vh;
    width: 100%;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    /* border: 2px solid rgb(0, 26, 255); */
}

.box11 h2
{
    font-family: 'Playfair Display', serif;
    font-size: 8vh;
    color: #346792;
    font-weight: 900;
}

.box_11_inner
{
    height: 55vh;
    width: 70vw;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}

.f1
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.f1 input
{
    display: flex;
    background-color: #def9ff;
    height: 6vh;
    width: 50vw;
    border: 0.8vh solid #00d2ff;
    border-radius: 4vh;
    font-family: 'Tilt Neon', cursive;
    font-size: 2.5vh;
    padding-left: 1.5%;
}

.f1 pre
{
    font-family: 'Tilt Neon', cursive;
    font-size: 3.8vh;
}

.f2
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.f2 input
{
    display: flex;
    background-color: #def9ff;
    height: 6vh;
    width: 50vw;
    border: 0.8vh solid #00d2ff;
    border-radius: 4vh;
    font-family: 'Tilt Neon', cursive;
    font-size: 2.5vh;
    padding-left: 1.5%;
}

.f2 pre
{
    font-family: 'Tilt Neon', cursive;
    font-size: 3.8vh;
}

.f3
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.f3 input
{
    display: flex;
    background-color: #def9ff;
    height: 6vh;
    width: 50vw;
    border: 0.8vh solid #00d2ff;
    border-radius: 4vh;
    font-family: 'Tilt Neon', cursive;
    font-size: 2.5vh;
    padding-left: 1.5%;
}

.f3 pre
{
    font-family: 'Tilt Neon', cursive;
    font-size: 3.8vh;
}

.f4
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.f4 input
{
    display: flex;
    background-color: #def9ff;
    height: 6vh;
    width: 50vw;
    border: 0.8vh solid #00d2ff;
    border-radius: 4vh;
    font-family: 'Tilt Neon', cursive;
    font-size: 2.5vh;
    padding-left: 1.5%;
}

.f4 pre
{
    font-family: 'Tilt Neon', cursive;
    font-size: 3.8vh;
}

.f5
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.f5 input
{
    display: flex;
    background-color: #def9ff;
    height: 6vh;
    width: 50vw;
    border: 0.8vh solid #00d2ff;
    border-radius: 4vh;
    font-family: 'Tilt Neon', cursive;
    font-size: 2.5vh;
    padding-left: 1.5%;
}

.f5 pre
{
    font-family: 'Tilt Neon', cursive;
    font-size: 3.8vh;
}

.submit_form
{
    display: flex;
    background-image: linear-gradient(to bottom, #23dbf5, #1b9ed6);
    color: white;
    height: 7.5vh;
    width: 16.5vw;
    border-radius: 4vh;
    font-family: 'Playfair Display', serif;
    font-size: 4vh;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    border-style: hidden;
    cursor: pointer;
}

.box12
{
    display: flex;
    height: 37vh;
    width: 55vw;
    background-image: linear-gradient(to bottom, #23dbf5, #1cd9f9, #1b9ed6);
    border-radius: 25% / 90%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 4rem 0rem 0rem 0rem;
    /* border: 2px solid red; */
}

.box12 h2
{
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    color: #022c30;
    font-weight: 900;
    text-align: center;
    padding: 0% 6%;
}

.ci_form
{
    display: flex;
    background-color: white;
    color: black;
    height: 7.5vh;
    width: 15.5vw;
    border-radius: 4vh;
    font-family: 'Playfair Display', serif;
    font-size: 2.8vh;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 2% 0% 0% 0%;
    border-style: hidden;
    cursor: pointer;
}

.box13
{
    display: flex;
    height: 60vh;
    width: 100%;
    margin: 4rem 0rem 0rem 0rem;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    background-image: url('Images/boctor_background_final.png');
    flex-direction: column;
}

.box13 h2
{
    /* gap: 2rem; */
    margin: 5rem 0rem 0rem 0rem;
    font-size: 3rem;
    color: #022c30;
    text-align: center;
}

.bx_13_inner
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5% 0% 0% 0%;
    gap: 4rem;
}

.bx_13_inner input
{
    background-color: #def9ff;
    height: 6vh;
    width: 35vw;
    border: 0.8vh solid #00d2ff;
    border-radius: 4vh;
    font-family: 'Tilt Neon', cursive;
    font-size: 2.5vh;
    padding-left: 1.5%;
}

.submit_form_bx_13
{
    display: flex;
    background-image: linear-gradient(to bottom, #23dbf5, #1b9ed6);
    color: white;
    height: 7.5vh;
    width: 16.5vw;
    border-radius: 4vh;
    font-family: 'Playfair Display', serif;
    font-size: 4vh;
    justify-content: center;
    text-align: center;
    border-style: hidden;
    align-items: center;
    cursor: pointer;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    background-color: #cee5eb;
    font-size: 2rem;
}

@media screen and (max-width: 1255px) 
{
    *
    {
        font-size: 50%;
    }

    #os_1, #os_2, #os3, #os_4
    {
        width: 22vw;
    }

    .rd_more_1, .rd_more_2, .rd_more_3, .rd_more_4
    {
        margin: 5rem 0rem 0rem 0rem;
        width: 12.5vw;
    }
}

@media screen and (min-width: 980px) and (max-width: 1255px) 
{
    *
    {
        font-size: 50%;
    }

    #os_1, #os_2, #os3, #os_4
    {
        width: 15vw;
        font-size: 0.9rem;
    }

    .rd_more_1, .rd_more_2, .rd_more_3, .rd_more_4
    {
        margin: 5rem 0rem 0rem 0rem;
        width: 12.5vw;
    }

    .box8
    {
        margin: 8% 0%;
    }

    .box9_right
    {
        margin: 19% 0%;
    }

    .box10
    {
        margin: 19% 0%;

    }
}

@media screen and (min-width: 708px) and (max-width: 980px) 
{
    *
    {
        font-size: 50%;
    }

    .search_inside
    {
        width: 12vw;
    }

    .box3
    {
        height: 80vh;
    }

    .our_services
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem 0rem;
        height: 52vh;
    }

    #os_1, #os_2, #os_3, #os_4
    {
        height: 10vh;
        width: 40vw;
        font-size: 1.8rem;
    }

    .rd_more_1, .rd_more_2, .rd_more_3, .rd_more_4
    {
        margin: 5rem 0rem 0rem 0rem;
        width: 12.5vw;
    }

    .box6
    {
        height: 39vh;
    }

    .box7
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 185vh;
        gap: 1rem 0rem;
    }

    #bx1, #bx2, #bx3
    {
        width: 70vw;
    }

    .box9
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .contact_area_1, .contact_area_2, .contact_area_3
    {
        height: 15vh;
        width: 50vw;
    }

    .box9_right
    {
        margin: 4rem 0rem 0rem 0rem;
    }

    .box10
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150vh;
        gap: 2rem 0rem;
    }

    .profile_1, .profile_2, .profile_3, .profile_4
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 30vh;
        border-radius: 25% / 90%;
    }

    .profile_1 img, .profile_2 img, .profile_3 img, .profile_4 img
    {
        height: 25vh;
        width: 14vw;
        margin: 0rem 0rem 0rem -3rem;
    }

    .profile_1 h3, .profile_2 h3, .profile_3 h3, .profile_4 h3
    {
        margin: 0rem 0rem 0rem 2rem;
    }

    .profile_1 p, .profile_2 p, .profile_3 p, .profile_4 p
    {
        width: 20vw;
    }

    .rd_more_1, .rd_more_2, .rd_more_3, .rd_more_4
    {
        width: 15.5vw;
        margin: 0rem 0rem 0rem 1rem;
    }

    .box12
    {
        width: 90vw;
    }

    .ci_form
    {
        width: 40vw;
    }
}

@media screen and (min-width: 510px) and (max-width: 708px) 
{
    *
    {
        font-size: 50%;
    }

    .search_inside
    {
        width: 17vw;
    }

    nav
    {
        width: 100%;
    }

    .box3
    {
        height: 80vh;
    }

    #banner_2
    {
        width: 100%;
    }

    .our_services
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem 0rem;
        height: 52vh;
    }

    #os_1, #os_2, #os_3, #os_4
    {
        height: 10vh;
        width: 80vw;
        font-size: 1.8rem;
    }

    .rd_more_1, .rd_more_2, .rd_more_3, .rd_more_4
    {
        margin: 5rem 0rem 0rem 0rem;
        width: 12.5vw;
    }

    .box6
    {
        height: 60vh;
    }

    .get_started
    {
        height: 7vh;
        width: 50vw;
    }

    .box7
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 185vh;
        gap: 1rem 0rem;
    }

    #bx1, #bx2, #bx3
    {
        width: 70vw;
    }

    .box9
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .box9_left
    {
        margin: 3rem 0rem 0rem 0rem;
    }

    #box9_left_img 
    {
        height: 50vh;
    }

    .box9_right
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem 0rem 0rem 0rem;
        width: 100%;
    }

    .contact_area_1, .contact_area_2, .contact_area_3
    {
        height: 15vh;
        width: 90vw;
        margin: 0rem 0rem 0rem 5rem;
    }

    .contact_area_1 p, .contact_area_2 p, .contact_area_3 p
    {
        width: 70vw;
    }

    .ca_content_1, .ca_content_2, .ca_content_3
    {
        width: 89vw;
    }

    .box10
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150vh;
        gap: 2rem 0rem;
    }

    .profile_1, .profile_2, .profile_3, .profile_4
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 25vh;
        border-radius: 25% / 90%;
    }

    .profile_1 img, .profile_2 img, .profile_3 img, .profile_4 img
    {
        height: 20vh;
        width: 16vw;
        margin: 0rem 0rem 0rem 1rem;
    }

    .profile_1 h3, .profile_2 h3, .profile_3 h3, .profile_4 h3
    {
        margin: 0rem 0rem 0rem 2rem;
        font-size: 1.2rem;
    }

    .profile_1 p, .profile_2 p, .profile_3 p, .profile_4 p
    {
        width: 20vw;
        font-size: 1.2rem;
    }

    .rd_more_1, .rd_more_2, .rd_more_3, .rd_more_4
    {
        width: 15.5vw;
        margin: 0rem 0rem 0rem 1rem;
        font-size: 1.2rem;
    }

    .box11 h2
    {
        font-size: 4.2rem;
    }

    .submit_form
    {
        font-size: 1.7rem;
    }

    .box12
    {
        width: 90vw;
    }

    .box12 h2
    {
        font-size: 2.2rem;
    }

    .ci_form
    {
        width: 40vw;
    }

    .box13
    {
        width: 100%;
    }

    .submit_form_bx_13
    {
        width: 40.5vw;
    }
}

@media screen and (min-width: 350px) and (max-width: 510px) 
{
    *
    {
        font-size: 50%;
    }

    nav
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 20vh;
        width: 100%;
    }

    .box1
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 53vh;
    }

    .signup
    {
        height: 7.8vh;
        width: 50vw;
    }

    .signup img 
    {
        height: 3.5rem;
    }

    .search_box
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 12vh;
    }

    .search
    {
        height: 20vh;
        width: 70vw;
    }

    .search_inside
    {
        height: 20vh;
        width: 40vw;
    }

    #banner_2
    {
        height: 30vh;
        margin: -15rem 0rem 0rem 0rem;
        width: 100%;
    }

    .options
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem 0rem;
        height: 40vh;
        width: 98%;
    }

    .search_inside
    {
        width: 31vw;
        height: 20vh;
    }

    .box3
    {
        height: 30vh;
    }

    .our_services
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem 0rem;
        height: 52vh;
    }

    #os_1, #os_2, #os_3, #os_4
    {
        height: 10vh;
        width: 80vw;
        font-size: 1.8rem;
    }

    .rd_more_1, .rd_more_2, .rd_more_3, .rd_more_4
    {
        margin: 5rem 0rem 0rem 0rem;
        width: 12.5vw;
    }

    .box5
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }

    .box5 img
    {
        height: 40vh;
        margin: 30rem 0rem 0rem 0rem;
    }

    .box6
    {
        height: 68vh;
        margin: 15rem 0rem 0rem 0rem;
    }

    .box6 h2
    {
        text-align: center;
    }

    .get_started
    {
        height: 7vh;
        width: 50vw;
    }

    .box7
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 185vh;
        gap: 1rem 0rem;
    }

    #bx1, #bx2, #bx3
    {
        width: 70vw;
    }

    .box9
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .box9_left
    {
        margin: 3rem 0rem 0rem 0rem;
    }

    #box9_left_img {
        height: 34vh;
        width: auto;
    }

    .emp_a{
        font-size: 1.1rem;
        width: 42vw;
    }

    .box9_right
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem 0rem 0rem 0rem;
        width: 100%;
    }

    .contact_area_1, .contact_area_2, .contact_area_3
    {
        height: 15vh;
        width: 85vw; 
        display: flex;
        justify-content: space-between;
    }

    .ca_pic_1_l1
    {
        height: 8vh;
        width: auto;
    }

    .contact_area_1 p, .contact_area_2 p, .contact_area_3 p
    {
        width: 53vw;
    }

    .ca_content_1, .ca_content_2, .ca_content_3
    {
        width: 89vw;
        margin: 0rem 0rem 0rem 3rem;
    }

    .ca_content_1 h3, .ca_content_2 h3, .ca_content_3 h3 {
        font-size: 2.1rem;
        /* width: 60vw; */
    }

    .box10
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150vh;
        gap: 2rem 0rem;
    }

    .profile_1, .profile_2, .profile_3, .profile_4
    {
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;
        width: 97%;
        height: 31vh;
        border-radius: 25% / 90%;
    }

    .profile_1 img, .profile_2 img, .profile_3 img, .profile_4 img
    {
        height: 15vh;
        width: 23vw;
        margin: 0rem 0rem 0rem 1rem;
    }

    .profile_1 h3, .profile_2 h3, .profile_3 h3, .profile_4 h3
    {
        margin: 0rem 0rem 0rem 2rem;
        font-size: 1.2rem;
    }

    .profile_1 p, .profile_2 p, .profile_3 p, .profile_4 p
    {
        width: 85vw;
        font-size: 1.2rem;
        margin: 0;
    }

    .rd_more_1, .rd_more_2, .rd_more_3, .rd_more_4
    {
        width: 35.5vw;
        margin: 0rem 0rem 0rem 1rem;
        font-size: 1.2rem;
        height: 5vh;
    }

    .box11 h2
    {
        font-size: 4.2rem;
        text-align: center;
        margin: -3rem 0rem 0rem 0rem;
    }

    .submit_form
    {
        font-size: 1.7rem;
        width: 50vw;
    }

    .box12
    {
        width: 90vw;
        height: 20vh;
    }

    .box12 h2
    {
        font-size: 1.7rem;
    }

    .ci_form
    {
        width: 52vw;
        height: 4vh;
        font-size: 1.5rem;
    }

    .box13
    {
        width: 100%;
    }

    .bx_13_inner
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bx_13_inner input
    {
        width: 30rem;
    }

    .submit_form_bx_13
    {
        width: 20rem;
    }
}

